
<div style="margin-top: 100px">
  <div class="os-center-box">
    <h3 class="os-section-title" translate="resend_otp.title">Forgot TOTP Code</h3>
    <div class="alert" ng-if="response.status" ng-class="{true: 'alert-success', false: 'alert-danger'}[response.status == 'ok']">
      {{response.message | translate:{emailAddress: user.emailAddress} }}
    </div>
    <div ng-if="response.status != 'ok'">
      <form ng-submit="sendQrCode()">
        <div class="form-group">
          <input type="email" required class="form-control" ng-model="user.emailAddress" 
            placeholder="{{'user.email_address' | translate}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" 
            translate="resend_otp.email_totp_qr_code">
            Email Two Factor Qr code 
          </button>
        </div>
      </form>
    </div>
    <div if="response.status == 'ok'">
      <a ui-sref="login({directVisit: true})" translate="forgot_password.return_to_signin">
        Return to sign in page
      </a>
    </div>
  </div>
</div>

